/*https://mdbootstrap.com/docs/standard/forms/overview/*/

/* ========== */

.cabeçalho-item{
    font-size: 12px;
}

.teste{
    border: 1px solid red;
}

/* Status Chamados Cores */
.fonte-white{
    color: white;
}
.fonte-black{
    color: black;
}

body{
    background-color: #F8F9FA;
}

#filtro-box{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}

#tabela-box{
    width: 100%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}

/* FILTRO */
#filtro-box-direita{
    max-width: 600px;
    height: 100%;
    display: flex;
    float: right;
}
#filtro-box-esquerda{
    display: flex;
    float: left;
    margin-top: 14px;
    margin-left: 12px;
    width: 300px;
}
#button-filtro-buscar{
    background-color: #195E95 !important;
}
#btn-buscar{
    align-self: center;
    margin-right: 12px;
}

#info-btn{
    align-self: center;
    font-size: 25px;
    margin-right: 15px;
    color: #195E95;
}
#info-btn, a{
    background-color: transparent;
    border: none;
}

.info-popover{
    --bs-popover-border-color: #195E95;
    --bs-popover-header-bg: #195E95;
    --bs-popover-header-color: var(--bs-white);
}

/*Novo Chamado*/
#novo-chamado-titulo{
    text-align: center;
    font-size: 15px;
    font-family:'Roboto', Roboto, sans-serif;
    margin-bottom: 25px;
}

#select-prioridade{
    font-size: 13px;
    padding-left: 10px;
}

.select-font{
    font-size: 13px;
    padding-left: 10px;
    font-family:'Roboto', Roboto, sans-serif;
}

.form-border{
    border: 1px solid rgba(12, 96, 221, 0.726);
}

#modal-btn-box{
    display: flex;
    float: right;
    margin-top: 15px;
}



/*Cores*/

.bg-emanalise{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 94, 0) !important;
}

.bg-aguardandoatt{
    --bs-bg-opacity: 1;
    background-color: rgb(255, 153, 0) !important;
}

.bg-concluido{
    --bs-bg-opacity: 1;
    background-color: rgba(235, 227, 227, 0.438) !important;
}

.bg-aguardandocliente{
    --bs-bg-opacity: 1;
    background-color: rgb(0, 132, 255) !important;
}

.bg-novo{
    --bs-bg-opacity: 1;
    background-color: rgb(134, 144, 145) !important;
}

.td-icon{
    color:#1f06ac;
    font-size: 15px;
}

.td-icon-btn{
    background-color: transparent;
    border: none;
}

.td-icon-btn:hover , .td-icon-btn:active, .td-icon-btn:visited {
    border: none;
}


#LoadingPage{
overflow: hidden;
}


.esconderElemento {
    display: none;
}