html, body { height: 100%;}

body{
    background: #3c87c4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #518dc7, #518dc7, #437fb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #518dc7, #518dc7, #437fb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#login-title{
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.login-container{
    height:95%;
    display: flex;
    justify-content: center;
}

#login-box{
    align-self: center;
    width: 20%;
}

.button{
    color: white;
}

#footer{
    align-self:flex-end;
}

/*Esconde o Elemento*/
.escondeElemento{
    display: none;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff00 inset;
  transition: background-color 5000s ease-in-out 0s;
}